<app-header></app-header>
<div class="main-content">
  <div class="custom-header-details">
    <p-button
      icon="pi pi-external-link"
      label="Vê fotos"
      (click)="displayBasic = true"
    ></p-button>

    <div class="contador">⏳ Faltam 14h 15s</div>
  </div>

  <p-galleria
    [value]="images"
    [(visible)]="displayBasic"
    [numVisible]="5"
    [circular]="true"
    [fullScreen]="true"
    [showItemNavigators]="true"
    [showThumbnails]="true"
    [containerStyle]="{ 'max-width': '50%' }"
  >
    <ng-template pTemplate="item" let-item>
      <img
        [src]="item.itemImageSrc"
        [alt]="item.alt"
        style="width: 100%; display: block"
      />
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
      <img
        [src]="item.thumbnailImageSrc"
        [alt]="item.alt"
        style="display: block"
      />
    </ng-template>
  </p-galleria>

  <div class="detalhe-lote-container">
    <!-- Breadcrumb -->
    <nav class="breadcrumb">
      <span>Carros</span> ›
      <span>{{ lote.veiculo.marca + "/" + lote.veiculo.modelo }}</span> ›
      <span>{{ lote.veiculo.ano }}</span>
    </nav>

    <div class="lote-main">
      <!-- Informações do veículo -->
      <div class="lote-info-section">
        <h1 class="lote-title">
          {{ lote.veiculo.marca + "/" + lote.veiculo.modelo }}
        </h1>
        <p class="lote-subtitle">
          Leilão de Carros Fiat na Leilo. Carros Leilão Fiat
        </p>

        <div class="lote-details-grid">
          <div class="detail-item">
            <span class="label">Ano</span>
            <span class="value">{{
              lote.veiculo.ano + "/" + lote.veiculo.ano
            }}</span>
          </div>
          <div class="detail-item">
            <span class="label">Km</span>
            <span class="value">{{ lote.veiculo.kmAtual }}</span>
          </div>
          <div class="detail-item">
            <span class="label">Combustível</span>
            <span class="value">Flex</span>
          </div>
          <div class="detail-item">
            <span class="label">Cor</span>
            <span class="value">{{ lote.veiculo.cor }}</span>
          </div>
          <div class="detail-item">
            <span class="label">Tipo</span>
            <span class="value">{{ lote.tipo }}</span>
          </div>
          <div class="detail-item">
            <span class="label">Tipo Retomada</span>
            <span class="value">{{ lote.tipoRetomado }}</span>
          </div>
          <div class="detail-item">
            <span class="label">Valor Mercado</span>
            <span class="value">R$ {{ lote.valorMercado }}</span>
          </div>
          <div class="detail-item">
            <span class="label">Possui Chave</span>
            <span class="value">{{ lote.veiculo.possuiChave }}</span>
          </div>
          <div class="detail-item full-width">
            <span class="label">Localização</span>
            <span class="value">
              {{ lote.localizacao }}
            </span>
          </div>
          <div class="detail-item full-width">
            <span class="label">Prazo est. documentação</span>
            <span class="value">45 dias úteis</span>
          </div>
        </div>

        <div class="lote-description">
          <h3>Descrição</h3>
          <p>
            {{ lote.descricao }}
          </p>
        </div>
      </div>

      <!-- Painel de Lances -->
      <div class="lote-lance-panel">
        <div class="status">🔥 Aberto para Lances</div>

        <div class="lance-valor">
          <span>Lance atual</span>
          <strong>R$ {{ lote.valorInicial | number : "1.2-2" }}</strong>
        </div>

        <div class="lance-input">
          <p-iftalabel style="height: 30px">
            <p-inputnumber
              [(ngModel)]="valorLance"
              inputId="price_input"
              mode="currency"
              currency="BRL"
              locale="pt-BR"
            />
          </p-iftalabel>
          <button class="btn-lance" (click)="enviarLance(lote.id, valorLance)">
            Dar Lance
          </button>
        </div>

        <div class="lances-historico card">
          <div class="header">
            <h4 class="title">📜 Últimos Lances</h4>
          </div>

          <ul class="lances-list">
            <li *ngFor="let lance of lances" class="lance-item">
              <div class="lance-info">
                <span class="lance-valor">{{
                  lance.valor | currency : "BRL"
                }}</span>
                <span class="lance-usuario">{{ lance.usuario }}</span>
              </div>
              <span class="lance-data">{{ lance.data | date : "short" }}</span>
            </li>

            <li *ngIf="lances.length === 0" class="sem-lances">
              Nenhum lance registrado ainda.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
