<div class="leilao-card">
  <!-- Header -->
  <div class="leilao-header">
    <div class="leilao-info">
      <div class="data-leilao">
        <strong>{{ dataHora | date : "dd/MM/yyyy" }}</strong>
        <span>{{ dataHora | date : "HH:mm" }}</span>
      </div>

      <button
        pButton
        type="button"
        label="Ver lote(s) {{ lotes.length }}"
        class="btn-ver-lotes p-button-rounded p-button-outlined"
      ></button>
    </div>

    <div class="titulo-leilao">
      <img
        src="https://cdn-icons-png.flaticon.com/512/2910/2910768.png"
        alt="Logo"
        class="logo-leilao"
      />
      <h2>{{ nome }}</h2>
    </div>

    <div class="contador">⏳ Faltam 14h 15s</div>
  </div>

  <!-- Carousel -->
  <p-carousel
    [value]="lotes"
    [numVisible]="4"
    [numScroll]="1"
    [circular]="true"
    [autoplayInterval]="0"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template pTemplate="item" let-lote>
      <div class="lote-card">
        <div class="lote-img">
          <img [src]="lote.imagem" alt="Imagem do lote" />
          <span class="badge-uf">{{ lote.uf }}</span>
        </div>

        <div class="lote-info">
          <h3>{{ lote.nome }}</h3>
          <p>{{ lote.modelo }}</p>
          <strong>{{ lote.lanceAtual | currency : "BRL" }}</strong>

          <div class="acoes">
            <button
              pButton
              icon="pi pi-images"
              label="{{ lote.fotos.length }} Fotos"
              class="btn-mini p-button-sm p-button-rounded"
            ></button>
          </div>
          <button
            class="btn-dar-lance-hover p-button-rounded"
            routerLink="detalhe"
          >
            Dar lance
          </button>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
