<div class="cont-header">
  <div class="cont-logo">
    <!--Logo -->
    <img src="assets/logo2.png" alt="logo" />
  </div>
  <div class="cont-menu">
    <div class="switch-container">
      <input type="radio" id="opt1" name="switch" checked />
      <div class="option-switch">
        <i class="pi pi-bell" style="z-index: 2"></i>
        <label for="opt1">Opção 1</label>
      </div>

      <input type="radio" id="opt2" name="switch" />
      <div class="option-switch">
        <i class="pi pi-bell" style="z-index: 2"></i>
        <label for="opt2">Opção 2</label>
      </div>
     

      <input type="radio" id="opt3" name="switch" />
      <div class="option-switch">
        <i class="pi pi-bell" style="z-index: 2"></i>
        <label for="opt3">Opção 3</label>
      </div>
    

      <input type="radio" id="opt4" name="switch" />
      <div class="option-switch">
        <i class="pi pi-bell" style="z-index: 2"></i>
         <label for="opt4">Opção 4</label>
      </div>
    

      <span class="slider"></span>
    </div>
  </div>
  <div class="cont-util">
    <!-- Icone de notificações e Login-->
    <div class="cont-notify">
      <!-- Icons de notificações-->
      <i class="pi pi-bell"></i>
    </div>

    <div class="cont-login">
      <p-avatar
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
        class="mr-2"
        size="large"
        shape="circle"
      />
      <p>Ana Tereza</p>
    </div>
  </div>
</div>
