<form [formGroup]="acessoForm" (ngSubmit)="onSubmit()">
  <div
    class="w-full sm:w-100 flex flex-col gap-6 content"
    style="margin-bottom: 5%"
  >
    <div class="header-login">
      <img src="assets/logo2.png" style="height: 160px" alt="logo" />
    </div>

    <div class="input-component-cadastro">
      <p-iconfield iconPosition="left">
        <p-inputicon
          class="pi pi-user"
          style="position: relative; top: 27px"
        ></p-inputicon>
        <input
          type="email"
          pInputText
          placeholder="E-mail"
          style="width: 100%; height: 30px; padding-left: 35px"
        />
      </p-iconfield>

      <div class="card flex justify-center">
        <p-password [toggleMask]="true" />
      </div>
      <p-password [toggleMask]="true" />
    </div>

    <div class="button-component">
      <p-button label="Criar Conta" styleClass="w-full" />
    </div>

    <p class="label-acesso">
      Já tem cadastro?
      <a class="link-cadastro" (click)="voltar.emit()">Voltar para o Login</a>
    </p>
  </div>
</form>
