/* BACKDROP que cobre a tela */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999; /* IMPORTANTE */
}

/* Loader original */
.loader {
  display: flex;
  justify-content: center;
}

.bar {
  width: 7px;
  height: 18px;
  margin: 0 9px;
  border-radius: 10px;
  animation: loading_5192 1s ease-in-out infinite;
  background: linear-gradient(135deg, #ff7b00, #ff4500);
}

.bar:nth-child(1) {
  animation-delay: 0.01s;
}

.bar:nth-child(2) {
  animation-delay: 0.09s;
}

.bar:nth-child(3) {
  animation-delay: 0.19s;
}

.bar:nth-child(4) {
  animation-delay: 0.29s;
}

@keyframes loading_5192 {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.5);
  }
  40% {
    transform: scale(1);
  }
}
