<p-toast></p-toast>

<form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
  <div class="form">
    <!-- LADO ESQUERDO -->
    <div class="form-left">
      <div class="overlay">
        <div class="logo-left"></div>
      </div>
    </div>

    <!-- LADO DIREITO -->
    <div class="form-right">
      <div class="card">
        <div class="header-login">
          <h2>Entrar na Conta</h2>
          <p>Use suas credenciais para acessar</p>
        </div>

        <div class="input-component">
          <!-- Usuário -->
          <p-iconfield iconPosition="left">
            <p-inputicon class="pi pi-user custom-icon"></p-inputicon>
            <input
              type="text"
              pInputText
              placeholder="Usuário ou e-mail"
              formControlName="email"
              style="height: 30px; padding-left: 5px"
            />
          </p-iconfield>

          <!-- Senha -->
          <p-iconfield iconPosition="left">
            <p-inputicon class="pi pi-lock custom-icon"></p-inputicon>
            <input
              type="password"
              pInputText
              placeholder="Senha"
              formControlName="senha"
              style="height: 30px; padding-left: 5px"
            />
          </p-iconfield>

          <!-- Termos -->
          <div class="checkbox-area">
            <p-checkbox
              id="accept"
              name="accept"
              value="Accept"
              [binary]="true"
              formControlName="termos"
            ></p-checkbox>
            <label for="accept">Eu concordo com os termos de uso.</label>
          </div>
        </div>

        <!-- Botão -->
        <div class="button-component">
          <p-button label="Entrar" styleClass="w-full" type="submit"></p-button>
        </div>

        <!-- Link -->
        <p class="label-acesso">
          Ainda não tem conta?
          <a [routerLink]="['/cadastro']" class="link-cadastro">
            Cadastre-se
          </a>
        </p>
      </div>
    </div>
  </div>
</form>
