<div class="header">
  <div class="logo">
    <img src="assets/logo2.png" style="height: 122px" alt="logo" />
  </div>

  <div class="menu">
    <input type="radio" id="opt1" name="switch" checked />
    <label for="opt1" class="menu-item">
      <i class="pi pi-gavel"></i>
      <span>Leilões</span>
    </label>

    <input type="radio" id="opt2" name="switch" />
    <label for="opt2" class="menu-item">
      <i class="pi pi-shopping-cart"></i>
      <span>Comprar</span>
    </label>

    <input type="radio" id="opt3" name="switch" />
    <label for="opt3" class="menu-item">
      <i class="pi pi-info-circle"></i>
      <span>Sobre</span>
    </label>

    <input type="radio" id="opt4" name="switch" />
    <label for="opt4" class="menu-item">
      <i class="pi pi-map-marker"></i>
      <span>Pátios</span>
    </label>

    <span class="slider"></span>
  </div>

  <!-- UTILITÁRIOS -->
  <div class="utils">
    <div class="notify">
      <i class="pi pi-bell"></i>
      <span class="badge">3</span>
    </div>

    <button class="btn-auth" routerLink="login">
      <i class="pi pi-user"></i>
      Cadastrar | Entrar
    </button>
  </div>

  <!-- MENU MOBILE -->
  <div class="menu-toggle">
    <i class="pi pi-bars"></i>
  </div>
</div>
