<div class="header">
  <div class="logo">
    <img src="assets/logo2.png" alt="logo" style="height: 122px" />
  </div>

  <div class="menu">
    <input type="radio" id="opt1" name="switch" checked routerLink="" />
    <label for="opt1" class="menu-item">
      <i class="pi pi-gavel"></i>
      <span>Leilões</span>
    </label>

    <input type="radio" id="opt2" name="switch" />
    <label for="opt2" class="menu-item">
      <i class="pi pi-shopping-cart"></i>
      <span>Comprar</span>
    </label>

    <input type="radio" id="opt3" name="switch" routerLink="/sobre" />
    <label for="opt3" class="menu-item">
      <i class="pi pi-info-circle"></i>
      <span>Sobre</span>
    </label>

    <input type="radio" id="opt4" name="switch" />
    <label for="opt4" class="menu-item">
      <i class="pi pi-map-marker"></i>
      <span>Pátios</span>
    </label>

    <span class="slider"></span>
  </div>

  <div class="utils">
    <ng-container *ngIf="!isLoggedIn; else userMenu">
      <button
        pButton
        label="Entrar / Cadastrar"
        icon="pi pi-user"
        class="btn-auth"
        routerLink="/login"
      ></button>
    </ng-container>
    <ng-template #userMenu>
      <div class="user-avatar" (click)="userOverlay.toggle($event)">
        {{ userInitial }}
      </div>

      <p-overlayPanel
        #userOverlay
        [dismissable]="true"
        [showCloseIcon]="false"
        [style]="{ width: '220px' }"
      >
        <div class="overlay-header">
          <div class="overlay-avatar">{{ userInitial }}</div>
          <div class="overlay-user-info">
            <div class="name">{{ userEmail }}</div>
            <span class="status">ATIVO</span>
          </div>
        </div>

        <p-panelMenu
          [model]="userItems"
          [style]="{ width: '100%', height: 'auto', padding: '2%' }"
        ></p-panelMenu>
      </p-overlayPanel>
    </ng-template>
  </div>
</div>
