<app-header></app-header>
<div class="container-pai">
  <div class="container-main">
    <div class="container-header-leiloes">
      <p class="estilo-label-c">
        Leilo Flash | Seu lance, seu futuro. Leilão online e presencial
      </p>
      <p class="estilo-label-sub-c">
        Leilões em destaque pra você ficar de olho
      </p>
    </div>

    <div class="leiloes-list">
      <div>
        <app-list-leilao-destaque
          *ngFor="let leilao of leiloes"
          [nome]="leilao.nome"
          [dataHora]="leilao.dataHora"
          [lotes]="leilao.lotes"
        >
        </app-list-leilao-destaque>
      </div>
    </div>
  </div>
</div>
