.container-pai{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-anuncios{
    width: 100%;
}

.container-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
    padding: 4%;
}

.container-header-leiloes{
    width: 95%;
    margin: 0 auto;
    margin-bottom: 4%;
}

.container-list-leiloes{
    width: 95%;
    margin: 0 auto;
    border: 1px solid black;    
}

.estilo-label-c{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.estilo-label-sub-c{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
